<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLRIGHT24</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="home"><a href="/">ALLRIGHT24</a></header>
    <nav>
      <ul>
        <li><a href="/Stretch">스트레칭</a></li>
        <li><a href="/Recommend">나에게 맞는 운동은?</a></li>
        <li><a href="/PostureQnA">자세 궁금해요!</a></li>
        <li><a href="/OWunWan">오운완</a></li>
        <li><a href="/CalorieCalculator"></a>식단 계산기</li>
        <li><a href="/Quiz">나의 운동 지식은?</a></li>
      </ul>
    </nav>
    <div class="user-controls">
      <a href="/login">로그인</a>
      <a href="/join">회원가입</a>
    </div>
    <article id="article">
      <form class="form-box" action="/join" method="POST" id="login_form">
        <h4>회원가입</h4>
        <input name="username" placeholder="아이디 4자리 이상" class="login_input" required autofocus />
        <br />
        <input name="nickname" placeholder="닉네임을 입력해주세요" class="login_input" required />
        <br />
        <input name="password" type="password" placeholder="비밀번호 4자리 이상" class="login_input" required />
        <br />
        <input name="password2" type="password" placeholder="비밀번호 확인" class="login_input" required />
        <br />

        <button type="submit" id="join_btn">가입하기</button>
      </form>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
