<header class="home"><a href="/">ALLRIGHT24</a></header>

<nav>
  <ul>
    <li><a href="/Stretch">스트레칭</a></li>
    <li><a href="/Recommend">나에게 맞는 운동은?</a></li>
    <li><a href="/PostureQnA">자세 궁금해요!</a></li>
    <li><a href="/OWunWan">오운완</a></li>
    <li><a href="/CalorieCalculator"></a>식단 계산기</li>
    <li><a href="/Quiz">나의 운동 지식은?</a></li>
  </ul>
</nav>
