<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLRIGHT24</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>

    <article id="owunwan-article">
      <div class="list-box">
        <div class="list">
          <h4><%= result.title %></h4>
          <p><%= result.content %></p>
        </div>
      </div>
    </article>
  </body>
</html>
