<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALLRIGHT24</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>

    <article id="article">
      <form id="owunwan_form" action="/PostureQnA_edit_post/<%= result._id %>?_method=PUT" method="post">
        <input name="title" type="text" class="font" required value="<%= result.title %>" />
        <textarea name="content" class="font" required><%= result.content %></textarea>
        <br />
        <button type="button" class="font" id="PostureQnA_edit_btn">수정하기</button>
      </form>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.getElementById("PostureQnA_edit_btn").addEventListener("click", () => {
        Swal.fire({
          title: "게시글을 수정하시겠습니까?",
          // text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "수정하기",
          cancelButtonText: "취소",
        }).then((result) => {
          if (result.isConfirmed) {
            //수정하기 누르면
            document.getElementById("owunwan_form").submit();
          }
        });
      });
    </script>
  </body>
</html>
